In [4]:
import pandas as pd
import numpy as np
df=pd.DataFrame(np.random.randn(4,3),index=['a','c','d','f'],
                columns=['one','two','three'])
df=df.reindex(['a','b','c','d','e','f'])
print("Original DataFrame with NAN\n",df)
print("\n")
print("Dropped DataFrame\n",df.dropna())
print("\n")

Original DataFrame with NAN
         one       two     three
a -0.999719  0.549471 -0.326158
b       NaN       NaN       NaN
c  1.839354 -0.781785  1.747888
d -1.183698  0.896627  0.848526
e       NaN       NaN       NaN
f -0.139142  0.224433 -0.599158


Dropped DataFrame
         one       two     three
a -0.999719  0.549471 -0.326158
c  1.839354 -0.781785  1.747888
d -1.183698  0.896627  0.848526
f -0.139142  0.224433 -0.599158

In [5]:
df=pd.DataFrame(np.random.randn(4,3),index=['a','c','d','f'],
                columns=['one','two','three'])
df=df.reindex(['a','b','c'])
print("Original DataFrame:\n",df)
print("\n")
print("NaN replaced with'0':\n")
print(df.fillna(0))

Original DataFrame:
         one       two     three
a -1.367407 -1.346112  0.054485
b       NaN       NaN       NaN
c  0.580832  0.147890  0.477099


NaN replaced with'0':

        one       two     three
a -1.367407 -1.346112  0.054485
b  0.000000  0.000000  0.000000
c  0.580832  0.147890  0.477099

In [11]:
df=pd.DataFrame({'one':[10,20,80,40,50],'two':[60,70,80,0,10]})
print("original DataFrame:\n",df)
print("\n DataFrame with replaced value:\n")
print(df.replace({10:5,80:3}))

original DataFrame:
    one  two
0   10   60
1   20   70
2   80   80
3   40    0
4   50   10

 DataFrame with replaced value:

   one  two
0    5   60
1   20   70
2    3    3
3   40    0
4   50    5

In [13]:
df=pd.DataFrame(np.random.randn(4,3),index=['a','c','d','f'],columns=['one','two','three'])
df=df.reindex(['a','b','c','d','e','f'])
print("Original DataFrame:\n",df)
print("\nNan-with True fill:\n")
print(df['one'].isnull())

Original DataFrame:
         one       two     three
a -0.815244  0.385891  0.733885
b       NaN       NaN       NaN
c -0.150444 -0.773212 -0.254405
d -0.913807  2.310551  0.047431
e       NaN       NaN       NaN
f -0.052772  0.085706 -1.644901

Nan-with True fill:

a    False
b     True
c    False
d    False
e     True
f    False
Name: one, dtype: bool

In [15]:
df=pd.DataFrame(np.random.randn(4,3), index=['a','c','d','f'], columns=['one','two','three'])
df = df.reindex(['a','b','c','d','e','f'])
print("Original Dataframe:\n",df)
print("\nNaN - Filled with Background values:\n")
print(df.fillna(method="bfill"))

Original Dataframe:
         one       two     three
a -0.571168  1.250145 -0.886284
b       NaN       NaN       NaN
c  0.605985  0.393520 -2.042596
d -0.337961  1.677405 -0.875239
e       NaN       NaN       NaN
f -0.414431 -0.069222 -0.117128

NaN - Filled with Background values:

        one       two     three
a -0.571168  1.250145 -0.886284
b  0.605985  0.393520 -2.042596
c  0.605985  0.393520 -2.042596
d -0.337961  1.677405 -0.875239
e -0.414431 -0.069222 -0.117128
f -0.414431 -0.069222 -0.117128

/tmp/ipython-input-3586509646.py:5: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  print(df.fillna(method="bfill"))