In [1]:
import pandas as pd
df=pd.DataFrame([[1,2,3],[4,5,6],[7,8,9]],
                index=['one','two','three'],
                columns=['a','b','c'])
print(df)

       a  b  c
one    1  2  3
two    4  5  6
three  7  8  9

In [3]:
#Taking the input from Dataframe and storing in the Excel file
print("Taking the input from Dataframe and storing in the Excel file")
df.to_excel('d:\pandas_to_excel.xlsx', sheet_name='new_sheet_name')

Taking the input from Dataframe and storing in the Excel file

<>:3: SyntaxWarning: invalid escape sequence '\p'
<>:3: SyntaxWarning: invalid escape sequence '\p'
/tmp/ipython-input-2246338039.py:3: SyntaxWarning: invalid escape sequence '\p'
  df.to_excel('d:\pandas_to_excel.xlsx', sheet_name='new_sheet_name')

In [2]:
#second Dataframe input to another Excel file
d=pd.DataFrame([[110,210,310],[12,220,320],[310,320,330]],index=['four','five','six'],columns=['a','b','c'])
d.to_excel('d:\pandas_to_excel1.xlsx',sheet_name='new_sheet_name')

<>:3: SyntaxWarning: invalid escape sequence '\p'
<>:3: SyntaxWarning: invalid escape sequence '\p'
/tmp/ipython-input-3756091742.py:3: SyntaxWarning: invalid escape sequence '\p'
  d.to_excel('d:\pandas_to_excel1.xlsx',sheet_name='new_sheet_name')

In [8]:
#merging two Excel files input into third file
x=pd.read_excel(r'd:\pandas_to_excel.xlsx')
y=pd.read_excel(r'd:\pandas_to_excel1.xlsx')
z=pd.concat([x,y])
z.to_excel('d:\pandas_to_excel3.xlsx')

<>:5: SyntaxWarning: invalid escape sequence '\p'
<>:5: SyntaxWarning: invalid escape sequence '\p'
/tmp/ipython-input-828193563.py:5: SyntaxWarning: invalid escape sequence '\p'
  z.to_excel('d:\pandas_to_excel3.xlsx')

In [10]:
#Sorting the column values
df=z.sort_values(["a"])
print(df)
df.to_excel(r'd:\pandas_to_excel4.xlsx')

  Unnamed: 0    a    b    c
0        one    1    2    3
1        two    4    5    6
2      three    7    8    9
1       five   12  220  320
0       four  110  210  310
2        six  310  320  330

In [11]:
df=pd.read_excel(r'd:\pandas_to_excel4.xlsx')
print(df)
print(list(df))
print(format(len(df)))

   Unnamed: 0.1 Unnamed: 0    a    b    c
0             0        one    1    2    3
1             1        two    4    5    6
2             2      three    7    8    9
3             1       five   12  220  320
4             0       four  110  210  310
5             2        six  310  320  330
['Unnamed: 0.1', 'Unnamed: 0', 'a', 'b', 'c']
6